<h3> Do now - Minimum Viable Product </h3>
<ol>

<li>Define places to capture the work we do</li>
<ol>
<li>Create an "Answers Support" module to capture whatever we do specifically for DO support.</li>
<li>Create an "Answers Taxonomy" module for generic taxonomy functionality.</li>
</ol>

<li>Configure Answers</li>
<ol>
<li>[IN PROGRESS ... I FINISHED A SET OF UPDATES ... WILL WAIT TWO WEEKS FOR VALIDATION, THEN CREATE A RELEASE] Create a release for recent updates to Answers (it's been a long time ... and some of the updates are useful)</li>
<li>[DONE] Create a release for recent updates to Best Answers (again, been a long time and there's now a little better UI)</li>
<li>[POSTPONED] Update the answers module</li>
<li>[CODERINTHERYE: CAN YOU DO THIS? (I DON'T SEEM TO HAVE PERMISSION TO UPDATE THE BEST_ANSWER DIRECTORY) Update the best answers module here</li>
<li>Allow "vote up" on questions and answers but not "vote down"</li>
</ol>

<li>Enable Answers to use a taxonomy (Create an "Answers Taxonomy" module)</li>
<ol>
<li>Allow developers to specify a taxonomy to use to manage questions (must be a preexisting taxonomy)</li>
<li>Allow a path that contains a taxonomy term ... find questions with that term</li>
<li>Allow users to create new terms</li>
<li>Limit the users who can create new terms to those with a role 'manage answers taxonomy'</li>
<li>Automatically create a new term for each project when the project is created</li>
<li>Create a block that will retrieve a subset of answers for a given term or set of terms (use Relevant Answers for a model)</li>
<li>Allow users to follow terms</li>
</ol>

<li>Apply the Taxonomy capability</li>
<ol>
<li>Create a taxonomy 'support'</li>
<li>Add in terms for existing projects, plus the existing support forums, plus drupal versions (D6, D7, D8)</li>
</ol>

<li>Integrate with Projects</li>
<ol>
<li>Insert a block on the project page listing top questions, an ability to see all, and an ability to ask new</li>
<li>Eliminate the "support request" category of issues</li>
<li>Add guide text on the issues listing explaining that "support requests" should be made as questions ... and provide a link to create a new one</li>
<li>When a new project is created (or an old one deleted) add/delete a taxonomy term for it.</li>
</ol>

<li>Integrate with the Community page</li>
<ol>
<li>Remove the "support" forums (but not the others)</li>
<li>Add links to equivalent question pages that replace the existing support forums</li>
</ol>

<li>Improve the UI</li>
<ol>
<li>Provide decent theming</li>
</ol>

<li>Improve Question Management</li>
<ol>
<li>Create a new role 'Support Manager'</li>
<li>Allow users with that role to edit / delete questions and answers</li>
</ol>

</ol>

<h3>Postpone</h3>
<ol>

<li>Integrated with Projects</li>
<ol>
<li>Enable an issue be converted into a question</li>
<li>Enable a question be converted into an issue</li>
</ol>

<li>Integrate with Forums</li>
<ol>
<li>Convert existing forum content to questions (Not sure whether this is worth it or how to do it. What might be good is to take a sort of "best hits" approach</li>
</ol>

<li>Improve the UI</li>
<ol>
<li>Allow "similar" questions to come up dynamically while a user is typing in a new question</li>
</ol>

<li>Enable Answers UserPoints</li>
<ol>
<li>Install AUP (I'm holding off on this b/c it seems controversial)</li>
</ol>

<li>Other features</li>
<ol>
<li>Implement flags</li>
</ol>

</ol>